body {
  background: linear-gradient(rgb(11, 46, 112), rgb(0, 0, 0));
  margin: 0;
  font-family: 'Raleway';
  background-size: cover;
}

.container {
    width: 100%;
    height: 100vh;
}
main {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: rgb(255, 255, 255);
    height: 50px;
    border-top: 1px solid #414040;
    padding: 5px;
}

/* Estilos para el contenedor del menú */
.menu {
    width: 600px;
    height: 520px;
    background-color: #222222;
    border: 2px solid #414040;
    display: none;
    position: fixed;
    bottom: 70px;
    left: 10px;
    border-radius: 8px;
    box-shadow: 5px 10px 10px black;
  }
  .contenido {
    padding: 20px;
  }

  /* Estilos para los elementos del menú */
  .menu-item {
    margin-bottom: 10px;
  }

  /* Estilos para los enlaces del menú */
  .menu-link {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
  }

  /* Estilos para los enlaces cuando están activos o se les pasa el mouse por encima */
  .menu-link:hover,
  .menu-link.active {
    background-color: #42ca30;
  }

  /* Estilos para el logo */
  #logo {
    position: fixed;
    cursor: pointer;
    padding: 2px;
  }
  #logo:hover {
    background-color: rgba(139, 136, 136, 0.2);
    z-index: -1;
    padding: 2px;
    border-radius: 5px;
  }


  .search-container {
    position: relative;
  }

  .search-input {
    padding-left: 30px;
    background-color: #161616;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 30px;
  }

  .search-icon {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .search-input::placeholder {
    color: rgb(110, 108, 108);
    padding: 10px;
  }

  .lenguajes {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .lenguajes button {
    background-color: #474747;
    padding: 5px;
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
  }
  .lenguajes button:hover {
    cursor: pointer;
    background-color: #555555;
  }

  .iconos{
    display: flex;
    flex-wrap: wrap;
  }
  .iconos div {
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1px;
  }
  .iconos div:hover {
    background-color: #313131;
    border-radius: 5px;
    padding: 1px;
  }
  .estudios {
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
  }
  .estudios-titulo{
    display: flex;
    justify-content: space-between;
  }
  .estudios-titulo button {
    background-color: #474747;
    padding: 5px;
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
  }
  .estudios-titulo button:hover {
    cursor: pointer;
    background-color: #555555;
  }
  .estudios-diploma {
    display: flex;
    flex-direction: row;
  }
  .estudios-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 5px;
  }
  .diplomas {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    order: -1;
  }

  .informacion {
    background-color: #252525;
    width: 100%;
    height: 50px;
    margin-top: -30px;
    border-radius: 0 0 5px 5px;
    display: flex;
  }
  .informacion h5 {
    padding: 0px;
    margin-left: 10px;
  }
  .info-link{
    text-decoration: none;
  }
  .info-link:hover {
    color: blue;
  }
  .info-link:visited {
    color: #ffffff;
  }

  .section-lenguajes {
    margin: 0;
  }
  .titulo-lenguajes {
    text-align: center;
    color: #ffffff;
  }
  .listas {
    display: flex;
}
.listas div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.listas div h3 {
    text-align: center;
    color: #ffffff;
}
.habilidades_lista li{
    list-style: none;
    color: #ffffff;
    width: 80%;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgba(6, 37, 73, 0.7);
    text-align: center;
}
.habilidades_lista li:hover {
    background-color: rgb(31, 84, 134);
}

.escritorio {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Cambia align-items a flex-end */
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  color: #ffffff;
  height: 100vh;
}
.escritorio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}
.escritorio div img {
  margin-right: 10px;
}
.escritorio div h5 {
  margin: 0px;
  text-align: center;
}

.titulo-h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
}
.titulo-h4 {
  color: #ffffff;
  text-align: center;
}
.contacto {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 480px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(7, 25, 63);
  box-shadow: 2px 10px 10px black;
  border-radius: 10px;
  border: 1px solid #161616;
  padding: 10px;
  margin-bottom: 100px;
}
label {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffffff;
}
.input-contacto{
  width: 90%;
  border-radius: 15px;
  border: 1px solid #161616;
  padding: 10px;
  font-size: 20px;
}
textarea {
  font-size: 20px;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  resize: none;
}
.contacto button {
  background-color: #a5abb3;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 5px 15px  black;
  cursor: pointer;
  margin-top: 10px;
}
.contacto button:focus {
  background-color: #083270;
  padding: 10px;
  border-radius: 10px;
}

.section-estudios {
  width: auto;
  background-color: #ffffff;
  color: #000000;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
}
.section-estudios div {
  background-color: #dbd9d9;
  padding: 5px;
  margin-bottom: 50px;
  border-radius: 5px;
}
.section-estudios h2 {
  text-align: center;
  color: #464646;
}
.fecha {
  font-size: 12px;
}

.custom-list {
  list-style-type: none; /* Elimina el marcador predeterminado de la lista */
}

.custom-list li {
  position: relative; /* Permite posicionar el marcador personalizado */
  padding-left: 20px; /* Espacio para el marcador */
}

.custom-list li::before {
  content: ""; /* Crea el marcador personalizado */
  position: absolute; /* Posiciona el marcador con relación al elemento de la lista */
  left: 0; /* Alinea el marcador a la izquierda */
  top: 6px; /* Ajusta la posición vertical del marcador */
  width: 10px; /* Ancho del marcador */
  height: 10px; /* Altura del marcador */
  border-radius: 50%; /* Cambia la forma a un círculo */
  background-color: rgb(6, 73, 128); /* Cambia el color del marcador */
}
